#container{
    width: 80%;
    margin: auto;
    background-color: gray;
    padding-top: 10px;
}
header{
    display: flex;
    width: 90%;
    margin: auto;
    background-color: burlywood;
    border-radius: 5px;
    height: 150px;
}
#image{
    width: 20%;
    height: 80%;
    background-image: url("./image/test.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 1%;
}
#texte_entete{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7cm ;
    width: 80%;
}
#main{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 7px;
}
nav{
    width: 30%;
    border-right: solid 2px;
    height: 400px;
}
nav ul{
    list-style-type: none;
}
nav li{
    height: 25px;
}
nav li:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: red;
    text-decoration: underline;
}
#corp{
    width: 70%;
    height: 400px;
}
h3{
    margin-left: 20px;
    background-color: burlywood;
    width: 250px;
    border-radius: 5px 5px 0 0;
}
table{
    width: 500px;
    margin-left: 20px;
}
li:active{
    background-color: red;
}